.footer {
    display: flex;
    padding: auto;
    background-color: #4FBDBA;
    height: 100px;
        grid-column: 1/5;
            align-items: center;
            border: 1px;
            border-style:solid;
            width: 100%;
            bottom: 0;
            justify-content: space-between;
    position:fixed;
    
    align-items: center;
    margin-bottom: 0;
    }
    .footer a{

        max-height: 90%;
        margin: 0.2%;
    }
       .footer a  img.footer-image  {
    
            left: 100px;
            height: 75%;    
            left: 100px;
            top: 0;
            width: 100px;
         margin-right: 100px;
    
        }
        .footer a:hover{

            transform: scale(1.5);
        }
    @media (max-width:700px) {
        .footer{
            text-align: center;
        }
        
    }